body{
    color: rgb(90, 84, 69);
    cursor: default;
    display: block;
    font-family: Lora, STSong, NSimSun, serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 81px;
    line-height: 27.200000762939453px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    text-rendering: optimizelegibility;

    margin: 0;
    padding: 0;
    background: url("../images/bg.png") repeat 0 0;
}
img{
    max-width: 100%;
    text-align: center;
    display: block;
    margin: 0 auto
}
a{
    text-decoration: none;
    color: #000000;
}
a:hover{
    color: #000000;
    text-decoration: none;
}
.clrfix:after{
    clear: both;
    content: "";
    visibility: hidden;
    display: block;
}
h1{
    font-size: 24px;
    color: #9c0000;
    display: inline-block;
}
h2{
    font-size: 22px;
    color: #9c0000;
    display: inline-block;
}
h3{
    font-size: 20px;
    color: #9c0000;
    display: inline-block;
}
h4{
    font-size: 18px;
    color: #9c0000;
    display: inline-block;
}
h5{
    font-size: 16px;
    color: #9c0000;
    display: inline-block;
}
h6{
    font-size: 14px;
    color: #9c0000;
    display: inline-block;
}




h1 a{
    font-size: 24px;
    color: #9c0000;
    text-decoration: underline;
    display: inline-block;
}
h2 a{
    font-size: 22px;
    color: #9c0000;
    text-decoration: underline;
    display: inline-block;
}
h3 a{
    font-size: 20px;
    color: #9c0000;
    text-decoration: underline;
    display: inline-block;
}

h4 a{
    font-size: 18px;
    color: #9c0000;
    text-decoration: underline;
    display: inline-block;
}
h5 a{
    font-size: 16px;
    color: #9c0000;
    text-decoration: underline;
    display: inline-block;
}
h6 a{
    font-size: 14px;
    color: #9c0000;
    text-decoration: underline;
    display: inline-block;
}
#header{
    width: 100%;
    height: 50px;
    background-color: #000000;
}
.header-title{
    color: #ffffff;
    font-size: 18px;
    width: 70%;
    margin: 0 auto;
    line-height: 3em;
}
.header-title a{
    color: #ffffff;
}
.main{
    width: 70%;
    margin:10px auto 60px auto;
    position: relative;
}
.info{
    padding: 7px 1px;
    display: block;
    border-radius: 6px;
    background-color: #ffffff;
    margin-bottom: 12px;
}
.info-title{
    height: 54px;
    width: 100%;
    background-color: #f1f1f1;
    font-size: 26px;
    font-weight: 800;
    line-height: 2;
    /*text-indent: 1em;*/
    padding-left: 20px;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
.info-time{
    margin: 0px 0 10px 0;
    position: relative;
}
.info-time span{
    position: absolute;
    margin-top: 3px;
    margin-left: 5px;
}
.info-img{
    background: url("../images/time.png") no-repeat 0 0;
    display: inline-block;
    height: 13px;
    width: 13px;
    vertical-align: middle;
}
.content{
    padding: 0px 20px 20px 20px;
}
.content p{
    font-size: 16px;
    /*text-indent: 2em;*/
}
#footer{
    width: 100%;
    /*height: 280px;*/
    background-color: #1d1d1d;
}
#footer .ft{
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
}
.ft dl{
    float: left;
    margin-right: 5%;
}
.ft dl dt{
    font-size: 22px;
    color: #e4e4e4;
}
.ft dl dd{
    line-height: 1.8;
}
.ft dl dd a{
    color: #e4e4e4;
    font-size: 14px;
}
.company{
    background-color: #000000;
    padding: 5px 0;
    text-align: center;
}

.sfonts{
    color: #989898;
    font-family: 'Hiragino Sans GB', Tahoma, arial, 宋体, sans-serif;
    font-size: 12px;
    font-weight:400;
}

@media screen and (max-width: 600px) {
    .header-title{
        color: #ffffff;
        font-size: 18px;
        width: 100%;
        margin: 0 auto;
        line-height: 3em;
        padding-left: 10px;
    }
    .main{
        width: 100%;
        margin:10px auto 60px auto;
        position: relative;
    }
    #footer .ft{
        width: 100%;
        margin: 0 auto;
        padding: 20px 0 20px 10px;
    }
}
.mark-top{
    position: relative;
    display:block;
    top:-7px;
    right:-1px;
    height: 30px
}
.mark{
    position: absolute;
    right: 0;
    padding: 3px 15px;
    color: #ffffff;
    border-top-right-radius: 6px;
}
code{
    background-color: rgba(249, 242, 244, 0.65);
    border-radius: 6px;
}
.content p{
    word-wrap:break-word;
    word-break:break-all;
}

video{
    width:100%;
    display:block;
} 

.go-top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.company img{
    display: inline-block;
    width: 50px;
}
